/* general styles */
.ac_box{
	border: 2px solid #ddd;
	margin:10px 0;
}
.ac_box div.hd{
	padding:5px 5px 0 5px;
	text-align:left;
	font-size:14px;
	font-weight:bold;
}
.ac_box div.bd{
	padding:5px;
	text-align:left;
}
.ac_box div.ft{
	padding:0 5px 5px 5px;
	text-align:left;
}
.ac_box ul{
	list-style-type:none;
}

/* error */
.ac_box_error{
	background: #FBE3E4; 
	color: #8a1f11; 
	border-color: #FBC2C4;
}
.ac_box_error a{
	color: #8a1f11;
}

/* info */
.ac_box_info{
	background: #E6EFC2; 
	color: #264409; 
	border-color: #C6D880;}
.ac_box_info a{
	color: #264409;
}

/* warning */
.ac_box_warning{
	background: #FFF6BF; 
	color: #514721; 
	border-color: #FFD324;
}
.ac_box_error a{
	color: #514721;
}
